extra_graphs/new_example/coeff_graphs/Bayville_coeffs.png
extra_graphs/new_example/coeff_graphs/Cardinal_coeffs.png
extra_graphs/new_example/coeff_graphs/Central_coeffs.png
extra_graphs/new_example/coeff_graphs/Eagle_coeffs.png
extra_graphs/new_example/coeff_graphs/East_River_coeffs.png
extra_graphs/new_example/coeff_graphs/Fair_Lake_coeffs.png
extra_graphs/new_example/coeff_graphs/Olive_coeffs.png
extra_graphs/new_example/coeff_graphs/Total_coeffs.png
extra_graphs/new_example/coeff_graphs/Westwood_coeffs.png
extra_graphs/new_example/score_graphs/Bayville_score_changes.png
extra_graphs/new_example/score_graphs/Cardinal_score_changes.png
extra_graphs/new_example/score_graphs/Central_score_changes.png
extra_graphs/new_example/score_graphs/Eagle_score_changes.png
extra_graphs/new_example/score_graphs/East_River_score_changes.png
extra_graphs/new_example/score_graphs/Fair_Lake_score_changes.png
extra_graphs/new_example/score_graphs/Olive_score_changes.png
extra_graphs/new_example/score_graphs/Total_score_changes.png
extra_graphs/new_example/score_graphs/Westwood_score_changes.png
extra_graphs/old_example/coeff_graphs/Bayville_coeffs.png
extra_graphs/old_example/coeff_graphs/Cardinal_coeffs.png
extra_graphs/old_example/coeff_graphs/Central_coeffs.png
extra_graphs/old_example/coeff_graphs/Eagle_coeffs.png
extra_graphs/old_example/coeff_graphs/East_River_coeffs.png
extra_graphs/old_example/coeff_graphs/Fair_Lake_coeffs.png
extra_graphs/old_example/coeff_graphs/Olive_coeffs.png
extra_graphs/old_example/coeff_graphs/Total_coeffs.png
extra_graphs/old_example/coeff_graphs/Westwood_coeffs.png
extra_graphs/old_example/score_graphs/Bayville_score_changes.png
extra_graphs/old_example/score_graphs/Cardinal_score_changes.png
extra_graphs/old_example/score_graphs/Central_score_changes.png
extra_graphs/old_example/score_graphs/Eagle_score_changes.png
extra_graphs/old_example/score_graphs/East_River_score_changes.png
extra_graphs/old_example/score_graphs/Fair_Lake_score_changes.png
extra_graphs/old_example/score_graphs/Olive_score_changes.png
extra_graphs/old_example/score_graphs/Total_score_changes.png
extra_graphs/old_example/score_graphs/Westwood_score_changes.png
extra_graphs/standard/coeff_graphs/Bayville_coeffs.png
extra_graphs/standard/coeff_graphs/Cardinal_coeffs.png
extra_graphs/standard/coeff_graphs/Central_coeffs.png
extra_graphs/standard/coeff_graphs/Eagle_coeffs.png
extra_graphs/standard/coeff_graphs/East_River_coeffs.png
extra_graphs/standard/coeff_graphs/Fair_Lake_coeffs.png
extra_graphs/standard/coeff_graphs/Olive_coeffs.png
extra_graphs/standard/coeff_graphs/Total_coeffs.png
extra_graphs/standard/coeff_graphs/Westwood_coeffs.png
extra_graphs/standard/score_graphs/Bayville_score_changes.png
extra_graphs/standard/score_graphs/Cardinal_score_changes.png
extra_graphs/standard/score_graphs/Central_score_changes.png
extra_graphs/standard/score_graphs/Eagle_score_changes.png
extra_graphs/standard/score_graphs/East_River_score_changes.png
extra_graphs/standard/score_graphs/Fair_Lake_score_changes.png
extra_graphs/standard/score_graphs/Olive_score_changes.png
extra_graphs/standard/score_graphs/Total_score_changes.png
extra_graphs/standard/score_graphs/Westwood_score_changes.png
video_script.docx
import_python_update_script_test.py
